ConnectionStrings__DefaultConnection=Server=localhost,1433;Database=IB2500253;User ID=sa;Password=YOUR_DB_PASSWORD;TrustServerCertificate=True

RabbitMQ__Host=localhost
RabbitMQ__Port=5672
RabbitMQ__Username=guest
RabbitMQ__Password=guest

JWT__Key=CHANGE_ME_minimum_32_characters_long_secret

SMTP__Host=smtp.gmail.com
SMTP__Port=587
SMTP__Username=your@gmail.com
SMTP__SenderEmail=your@gmail.com
SMTP__Password=your_gmail_app_password
SMTP__UseSSL=true
SMTP__SenderName=Merhum Sistem

Groq__ApiKey=your_groq_api_key

PayPal__ClientId=your_paypal_sandbox_client_id
PayPal__ClientSecret=your_paypal_sandbox_client_secret

GoogleMaps__ApiKey=your_google_maps_api_key

AppSettings__BaseUrl=http://localhost:5000
AppSettings__SmrtovnicaBaseUrl=http://localhost:5000/smrtovnica
AppSettings__ObituaryBaseUrl=http://localhost:5000/smrtovnica

MSSQL_SA_PASSWORD=YOUR_DB_PASSWORD
